@media screen and (max-width: 480px) {

    #sidebar ul {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    body {
        overflow: hidden;
    }

    #sidebar #user-list-containers {
        display: none;
    }

    #sidebar ul li {
        flex-grow: 1;
        text-align: center;
    }

    .tendances {
        display: none;
    }

    .logout-div {
        margin-top: 0;
        margin-left: auto;

    }

    #container {
        display: grid;
        grid-template-columns: auto;
        overflow: hidden;
    }

    .chat-box {
        overflow-x: hidden;
    }

    .chat {
        height: 95vh !important;
    }

    #users-post {
        height: calc(100vh - 110px);
        /* Ajuster la hauteur pour laisser de l'espace en bas */
        width: 100vw;
        overflow-y: auto;
        border: none;
        border-radius: 0;
    }

    .reaction-btn {
        justify-content: center;
    }

    #login-btn {
        width: 60px;
    }

    /* Autres règles pour le sidebar */
    #sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 60px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-right: none;
        border-top: 1px solid var(--border-color);
        overflow-x: auto;
        scrollbar-width: none;
        z-index: 99999;
    }

    #sidebar>ul>li:first-child {
        display: none;
    }

    /* .timestamp {
        display: none;
    } */

    #add-button {
        bottom: 70px;
        width: 50px;
        height: 50px;
        opacity: 0.8;
    }

    #dark-mode-toggle {
        display: none;
    }

    #created-post {
        left: 0;
        width: 100%;
        overflow: hidden;
    }

    .categorie {
        font-size: 24px;
    }

    #sidebar a span {
        display: none;
    }

    .users-post {
        padding: 0;
        max-height: 85vh;
    }

    .message-container {
        margin: 0;
        gap: 3px;
    }

    .message-item {
        padding: 10px;
    }

    .message-header {
        gap: 5px;
    }

    .message-item .timestamp {
        display: none;
    }
}